@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #F5E0C3;
    --accent-color: #4e342e;
    --dark-gray: #373737;
    --light-gray: #878787;
    --white: #FFFFFF;


    --hover-accent: rgb(78, 58, 46);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}


header {
    background-color: var(--primary-color);
    position: sticky;
    top: 1.5rem;
    display: flex;
    align-items: center;
    width: min(90%, 110vw);
    max-width: 1440px;
    height: fit-content;
    padding: min(16px, 3vw) min(70px, 5vw);
    margin: min(48px, 4vw) auto 0 auto;
    border-radius: clamp(.5rem, 5vw, 1.5rem);
    z-index: 10;
}

.logo {
    color: var(--accent-color);
    font-size: clamp(1.5rem, 2vw, 2rem);
    flex-grow: 1;
    flex-basis: 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    flex-grow: 2;
    flex-basis: 0;

    @media (max-width: 1056px) {
        display: none;
    }
}

.header-menu {
    display: flex;
    justify-content: center;

    ul {
        list-style: none;
        display: flex;
    }

    a {
        color: var(--accent-color);
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 550;
        transition: all 0.35s ease;
        padding: 5px 10px;
        border-radius: .75rem;

        &:hover {
            background-color: var(--accent-color);
            color: var(--white);
        }
    }
}

.cta-btn {
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: min(1rem, 4vw) min(2rem, 6vw);
    border-radius: min(2rem, 1vw);
    border: 2px solid var(--accent-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.4s ease;
    white-space: nowrap;
    
    &:hover {
        background-color: var(--primary-color);
        color: var(--accent-color);
    }
}

.menu-burger {
    display: none;
    cursor: pointer;

    svg {
        width: 2rem;
        height: 2rem;
        color: var(--accent-color);
        stroke-width: 3px;
    }

    @media (max-width: 1056px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 min(70px, 4vw);
}

#home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: min(100%, 1280px);
    margin: min(100px, 10vh) auto 0 auto;
    gap: 2rem;
    scroll-margin-top: calc(50vh - 100px);

    @media (max-width: 390px) {
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        flex-wrap: nowrap;
    }
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    margin: 0 auto;

    h1 {
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: 700;
        line-height: 1.2;
        max-width: 25ch;
        color: var(--accent-color);
    }

    p {
        color: var(--light-gray);
        font-size: clamp(1.2rem, 2vw, 1.8rem);
        line-height: 1.5;
        max-width: 35ch;
    }


    @media (max-width: 390px) {
        align-items: center;
        text-align: center;
    }
}

.cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .secondary {
        background-color: transparent;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);

        &:hover {
            background-color: var(--primary-color);
        }
    }
}

.home-image {
    width: min(60%, 100vw);
    margin: 0 auto;
    height: 100%;
    border-radius: 1.2rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    @media (max-width: 1056px) {
        margin-top: 1.2rem;
        min-width: 80vw;
    }
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(3rem, 6vh);
    margin: min(120px, 14vh) auto 0 auto;
    max-width: 1440px;
    padding: 0 min(70px, 4vw);
    scroll-margin-top: calc(50vh - 100px);

    h2 {
        font-size: clamp(1.8rem, 4vw, 2.5rem);
        font-weight: 700;
        color: var(--accent-color);
        text-align: center;
    }
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: min(2rem, 4vh);
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    height: 360px;
    width: min(90%, 340px);
    text-align: center;
    box-shadow: 4px 4px 0 var(--accent-color);

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
        color: var(--dark-gray);
        font-weight: 500;
    }

}

.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

#how {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(3rem, 6vh);
    margin: min(120px, 14vh) auto 0 auto;
    max-width: 1440px;
    padding: 0 min(70px, 4vw);
    scroll-margin-top: calc(50vh - 100px);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--accent-color);
        text-align: center;
    }
}

.steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: min(90%, 280px);
    text-align: center;

    span {
        width: 56px;
        height: 56px;
        padding: 2.5rem;
        border-radius: 50%;
        background-color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 550;
        margin: .5rem 0;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
        color: var(--dark-gray);
        font-weight: 400;
        max-width: 28ch;
    }
}

.step:first-child, .step:last-child {
    margin-top: 4rem;

    @media (max-width: 1120px) {
        margin-top: 0;
    }
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: min(120px, 10vh) auto 0 auto;
    max-width: 1440px;
    padding: 0 min(70px, 4vw);
    scroll-margin-top: calc(50vh - 100px);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--accent-color);
        text-align: center;
    }
}

.gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;

    @media (max-width: 890px) {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-template-rows: 240px;
    }
}

.grid-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.item-1 { 
    @media (min-width: 890px) {
        grid-area: 1 / 1 / 2 / 2; 
    }
}
.item-2 { 
    @media (min-width: 890px) {
        grid-area: 1 / 2 / 2 / 3;
    }
}
.item-3 { 
    @media (min-width: 890px) {
        grid-area: 1 / 3 / 2 / 5; 
    }
}
.item-4 { 
    @media (min-width: 890px) {
        grid-area: 2 / 1 / 3 / 3;
    } 
}
.item-5 { 
    @media (min-width: 890px) {
        grid-area: 2 / 3 / 3 / 4;
    } 
}
.item-6 { 
    @media (min-width: 890px) {
        grid-area: 2 / 4 / 3 / 5; 
    }
}


#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: min(120px, 10vh) auto 0 auto;
    max-width: 1440px;
    padding: 0 min(70px, 4vw);
    scroll-margin-top: calc(50vh - 100px);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--accent-color);
        text-align: center;
    }
}

.testimonials-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}


.testimonials-cards .card {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: min(1rem, 4vw) min(2rem, 5vw);
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    box-shadow: 4px 4px 0 var(--accent-color);

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--accent-color);
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
        color: var(--dark-gray);
        font-weight: 550;
        align-self: flex-end;
    }
}

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: min(120px, 10vh) auto 0 auto;
    max-width: 1440px;
    padding: 0 min(70px, 4vw);
    scroll-margin-top: calc(50vh - 100px);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--accent-color);
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.4;
        color: var(--light-gray);
        font-weight: 400;
        text-align: center;
        max-width: 36ch;
    }
}

footer {
    margin-top: 6rem;
    background-color: var(--accent-color);
    padding: 2rem 0;
    position: relative;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
    text-align: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: min(2rem, 4vw) min(4rem, 8vw);

    @media (min-width: 568px) {
        justify-content: center;
    }
}

.footer-menu {
    display: flex;
    gap: 2rem;

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 1.3rem;
            color: var(--primary-color);
            font-weight: 550;
            text-align: center;

            a {
                color: var(--primary-color);
                text-decoration: none;
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--primary-color);
        
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    p {
        font-size: clamp(1rem, 4vw, 1.5rem);
        color: var(--primary-color);
        font-weight: 500;
        text-align: center;
        max-width: 28ch;

        &:last-child {
            font-size: clamp(1rem, .5vw, 1.2rem);
            max-width: 32ch;
        }
    }
}

.cta-btn-footer {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: min(12px, 2vw) min(24px, 4vw);
    border-radius: min(1rem, 3vw);
    border: 2px solid var(--primary-color);
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.4s ease;
    
    &:hover {
        background-color: var(--accent-color);
        color: var(--primary-color);
    }

    @media (max-width: 768px) {
        margin: 2rem auto;
    }
}


.copyright {
    @media (max-width: 768px) {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 1rem 0;
    }
}
